@model AllPostsViewModel

@{
    ViewData["Title"] = "All Posts";
}

<h3 class="text-center">@ViewData["Title"]:</h3>

<hr>

@foreach (var post in Model.Posts)
{
    <div class="col-md-10 offset-1 mb-3">
        <div class="card text-center">
            <div class="card-header">
                <div class="text-left">
                    <img src="@post.CustomPofilePicture" class="rounded-circle mr-2" style="width:45px; height:45px;" />
                    @post.PostedByUser.FirstName @post.PostedByUser.LastName
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">@post.TextTitle</h5>
                <p class="card-text">@post.TextContent</p>
                <img src="~/PostsImages/@post.PostImage" style="width:550px; height:300px;" class="rounded border" />
            </div>
            <div class="card-footer text-muted">
                <div class="text-right">
                    Posted on: @post.CreatedOn
                </div>
            </div>
        </div>
    </div>
}

<hr>
